*{
  box-sizing: border-box;
}

.main-menu{
  font-size: 1.5rem;
}

.error{
  font-size: 0.9rem;
    margin: 0;
    color: red;
}

.cart-button{
  cursor: pointer;
}
.cart-price{
  width:40px;
}
.cart-buy{
  width: 140px;
}
.product-page__card{
  max-width:40rem ;
}
form{
  max-width: 100%;
  width: 500px;
  margin: 100px auto;
}
@media screen and (max-width:310px){

}